@model IEnumerable<HTTP_5101_Assignment_3.Models.Student>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <h2>List of Students</h2>
    <form action="/Student/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Student/Show/@student.StudentId">@student.StudentFname @student.StudentLname</a></div>
        </div>
    }
</div>

