@model IEnumerable<HTTP_5101_Assignment_3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <div>
            <label for="SearchKey">Name:</label>
            <input type="text" id="SearchKey" name="SearchKey" autocomplete="off" />
        </div>
        <div>
            <label for="MinSalary">Minimun salary:</label>
            <input type="number" id="MinSalary" name="MinSalary" />
            <label for="MaxSalary">Maximun salary:</label>
            <input type="number" id="MaxSalary" name="MaxSalary" />
        </div>
        <input type="submit" value="Search" />
    </form>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
        </div>
    }
</div>

